.topo {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #f9db79;
  padding: 0 20px;
}

.limitarSecao {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.containerLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;

  padding: 20px 0;
}

.link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

@media (max-width: 768px) {
  .limitarSecao {
    justify-content: center;
  }

  .containerLinks {
    width: 100%;
    border-top: 1px solid gray;
  }
}
