.rodapeLight, .rodapeDark{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rodapeDark{
    background-color: #252525;
}

.containerInfo{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
}

.containerInfo p{
    text-align: center;
    font-size: 16px;
    color: #8a8fa3;
}

.containerSocial{
    width: 100%;
    max-width: 375px;
    padding-bottom: 100px;
}

.iconsSocial{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.iconSocial{
    width: 45px;
    height: 45px;
}

.containerCopyrightLight, .containerCopyrightDark{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #8a8fa3;
}

.containerCopyrightLight{
    border-top: 1px solid #CCCCCC;
}

.containerCopyrightDark{
    border-top: 1px solid #747272;
}

.containerCopyrightLight p, .containerCopyrightDark p{
    font-size: 16px;
}

.containerCopyrightLight span, .containerCopyrightDark span{
    color: #feb633;
}