.topoLight, .topoDark{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.topoDark{
    background-color: #252525;
}

.logo{
    width: 50px;
    height: 35px;
}

.btnLight, .btnDark{
    width: 35px;
    height: 35px;
    position: relative;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
}

.btnDark{
    color: yellow;
    border: 1px solid white;
}

.icon{
    position: absolute;
    top: 8px;
    left: 8px;
}