*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.limitar-secao{
    max-width: 1200px;
    margin: 0 auto;
}


/* Topo do site */

header{
    background-color: #fff454;
    padding: 10px 0;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-top-left{
    width: 150px;
}

.img-top-right{
    width: 320px;
}

.div-pesquisa{
    width: 50%;
    display: flex;
    flex-direction: row;

    margin: 0 10px;
}

.campo-pesquisa{
    width: 100%;
    height: 40px;
    padding: 8px;
    border: none;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.342);
}

.icon-pesquisa{
    width: 50px;
    height: 40px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.342);

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20px;
    cursor: pointer;
}

.top-bottom{
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ---- */

.bottom-left{
    width: calc(100% / 3) - 3px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-left span{
    font-size: 12px;
    color: #000000a6;
}


/* Menu topo */

.bottom-center{
    width: 57%;
    display: flex;
    align-items: center;
}


.menu{
    display: flex;
    flex-direction: row;

    list-style: none;
}

.menu ul li{
    padding: 15px;
    background-color: rgb(78, 70, 70);
}

.menu li a{
    color: #000000a6;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.menu-dropdown{
    position: relative;
}

.dropdown{
    margin-top: 5px;
    position: absolute;
    display: none;
}

.dropdown li{
    font-size: 14px;
    color: #fff;
}

.menu-dropdown:hover .dropdown{
    display: block;
}


/* ---- */
.bottom-right{
    width: calc(100% / 3) - 3px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-right a{
    color: #000000a6;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
}


/* ------- */

main{
    background: #ededed;
}

.interessar{
    font-size: 14px;
    line-height: 50px;
}

.interessar p span{
    font-weight: 600;
}


/* ------- */

.sugestoes{
    margin-bottom: 15px;
}

.sugestoes p{
    display: inline;
    font-size: 14px;
    font-weight: 400;
}

.sugestoes a{
    color:  #3483fa;
    text-decoration: none;
}

.secao-produto {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: row;
}


/* ------- */

.left{
    width: 40%;
    height: 20%;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 20px;
}


/* ------- */

.top-card .status{
    font-size: 14px;
    color: #000000a6;
}

.titulo-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-card .nome-produto{
    width: 70%;
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0;
}

.titulo-card .icon{
    height: 25px;
}


/* ------- */

.top-card .avaliacao{
    color: #000000a6;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.top-card .avaliacao .icon{
    width: 75px;
    margin: 0 5px;
}

.top-card .preco{
    font-size: 40px;
    margin-top: 15px;
}

.top-card .preco span{
    font-size: 17px;
    color: #000000a6;
}

.top-card .preco-parcela{
    font-size: 18px;
    margin-bottom: 5px;
}

.top-card .preco-parcela span{
    font-size: 13px;
    color: #000000a6;
}

.link-card-left{
    font-size: 14px;
    color: #3483fa;
    text-decoration: none;
}


/* ------- */

.center-card{
    margin: 20px 0;
}

.destaque-card{
    color: #02c72c;
    font-weight: 600;
}

.chegada, .retirada, .devolucao{
    line-height: 20px;
    margin-bottom: 10px;
}


.chegada .observacao, .retirada .observacao,
 .devolucao .observacao{
    font-size: 14px;
    color: #c9c9c9;
}


/* ------- */

.comprar, .add-carrinho{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin: 8px 0;
}

.comprar{
    background-color: #3483fa;
    color: #fff;
}

.add-carrinho{
    background-color: #ededed;
    color: #3483fa;
}

.info-vendedor{
    margin: 15px 0;
    font-size: 14px;
}

.info-vendedor .nome-vendedor{
    color: #3483fa;
    cursor: pointer;
}


/* ------- */

.right{
    width: 65%;
}


/* Imagem produto */

.img-produto{
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.img-produto-p img{
    width: 50px;
    display: block;
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin-bottom: 8px;
}

.img-produto-p img:hover{
    border: 2px solid #3483fa;
}

.img-produto-g img{
    width: 450px;
}


/* Anúncios do vendedor */

.area-anuncios-vendedor{
    margin: 20px 0;
    padding-bottom: 28px;
    border-bottom: 1px solid #c9c9c9;
}

.area-anuncios-vendedor h3, .area-caracteri-produto h3, 
.area-descricao h3{
    margin: 25px 0;
}

.area-card{
    display: flex;
    flex-direction: row;

    padding: 15px 0;
}

.card-anuncio{
    width: 400px;
    display: flex;
    flex-direction: row;

    border: 1px solid #ededed;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
}

.card-anuncio:hover{
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.274);
}

.card-anuncio img{
    width: 150px;
    height: 70px;
    align-self: center;
}

.descricao-card-anuncio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 13px;
    font-weight: normal;
}

.preco-anuncio{
    font-size: 20px;
    font-weight: 600;
}


/* Características do produto */

.area-tabelas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 15px 0;
    border-bottom: 1px solid #c9c9c9;
}

.tabela {
    border: 1px solid #ededed;
    margin: 15px 0;
    border-collapse: collapse;
}

.tabela tr td{
    font-size: 12px;
    padding: 20px;
}

.tabela tbody tr:nth-of-type(odd){
    background-color: #ededed;
}


/* Descrição do produto */

.area-descricao p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #818181;
}