/* Mobile */

.mobile{
    display: none;
}

.mobile .status-avaliacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile .preco{
    font-size: 30px;
    margin-top: 15px;
}

.mobile .preco span{
    font-size: 14px;
    color: #000000a6;
}

.mobile .preco-parcela{
    font-size: 12px;
    margin-bottom: 5px;
}

.mobile .preco-parcela span{
    font-size: 10px;
    color: #000000a6;
}

.mobile .link-card-left{
    font-size: 13px;
    color: #3483fa;
    text-decoration: none;
}