.container-topo-logo, .container-rodape-logo {
  width: 320px;
  display: flex;
}
.container-topo-logo img, .container-rodape-logo img {
  width: 70px;
}
@media (max-width: 710px) {
  .container-topo-logo h1, .container-rodape-logo h1 {
    font-size: 28px;
  }
}
.container-topo-logo p, .container-rodape-logo p {
  color: #2f86d6;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.txt-emphasis {
  color: #2f86d6;
}

.title-container {
  text-align: center;
  font-size: 32px;
  margin-bottom: 70px;
}
@media (max-width: 710px) {
  .title-container {
    font-size: 19px;
  }
}

.container-topo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container-topo-links {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.container-topo a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #233032;
  transition: 0.5s;
}
@media (max-width: 710px) {
  .container-topo a {
    font-size: 14px;
  }
}
.container-topo a:hover {
  color: #2f86d6;
}

.container-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2f86d6;
  padding: 50px;
}
@media (max-width: 710px) {
  .container-banner {
    flex-wrap: wrap;
    text-align: center;
  }
}
.container-banner-info {
  max-width: 470px;
  width: 100%;
  color: #fff;
}
.container-banner-info p {
  line-height: 26px;
  word-spacing: 3px;
}
.container-banner-info h2 {
  font-size: 28px;
  line-height: 40px;
  margin: 20px 0;
}
.container-banner-img {
  width: 468px;
}
.container-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anuncio-dark {
  background-color: #233032;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.anuncio-dark .text {
  width: 600px;
}
@media (max-width: 710px) {
  .anuncio-dark .text {
    max-width: 250px;
  }
  .anuncio-dark .text h2 {
    font-size: 18px;
  }
  .anuncio-dark .text p {
    font-size: 12px;
  }
}
.anuncio-dark .btn {
  width: 200px;
  height: 50px;
  text-decoration: none;
  background-color: #2f86d6;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
}
@media (max-width: 710px) {
  .anuncio-dark .btn {
    width: 150px;
  }
  .anuncio-dark .btn span {
    font-size: 12px;
    text-align: center;
  }
}
.anuncio-dark .btn .fa-solid.fa-rocket {
  color: white;
}
@media (max-width: 710px) {
  .anuncio-dark .btn .fa-solid.fa-rocket {
    display: none;
  }
}
.anuncio-dark .btn span {
  font-weight: 700;
  color: #fff;
}
.anuncio-dark .btn:hover {
  background-color: rgba(0, 0, 0, 0.068);
  border: 1px solid #2f86d6;
}
.anuncio-dark .btn:hover .fa-solid.fa-rocket {
  color: #2f86d6;
}
.anuncio-dark .btn:hover span {
  color: #2f86d6;
}

.anuncio-light {
  background-color: #2f86d6;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.anuncio-light .text {
  width: 600px;
}
@media (max-width: 710px) {
  .anuncio-light .text {
    max-width: 250px;
  }
  .anuncio-light .text h2 {
    font-size: 18px;
  }
  .anuncio-light .text p {
    font-size: 12px;
  }
}
.anuncio-light .btn {
  width: 200px;
  height: 50px;
  text-decoration: none;
  background-color: #233032;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
}
@media (max-width: 710px) {
  .anuncio-light .btn {
    width: 150px;
  }
  .anuncio-light .btn span {
    font-size: 12px;
    text-align: center;
  }
}
.anuncio-light .btn .fa-solid.fa-rocket {
  color: white;
}
@media (max-width: 710px) {
  .anuncio-light .btn .fa-solid.fa-rocket {
    display: none;
  }
}
.anuncio-light .btn span {
  font-weight: 700;
  color: #fff;
}
.anuncio-light .btn:hover {
  background-color: rgba(0, 0, 0, 0.068);
  border: 1px solid #233032;
}
.anuncio-light .btn:hover .fa-solid.fa-rocket {
  color: #233032;
}
.anuncio-light .btn:hover span {
  color: #233032;
}

.container-info {
  padding: 50px 0;
  text-align: center;
}
.container-info-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.container-info-cards .card {
  width: 280px;
}
.container-info-cards .card img {
  width: 100px;
}
.container-info-cards .card h3 {
  margin: 20px 0;
}

.container-planos {
  background-color: #f1f3f7;
  padding: 50px 0;
}
@media (max-width: 710px) {
  .container-planos .tabela {
    width: 100%;
    overflow-x: auto;
  }
}
.container-planos table {
  width: 90%;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 2px 40px 15px rgba(47, 133, 214, 0.418);
}
.container-planos table thead th div {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}
.container-planos table thead th div h3 {
  margin-bottom: 20px;
}
@media (max-width: 710px) {
  .container-planos table thead th div h3 {
    font-size: 14px;
  }
}
.container-planos table thead th div img {
  width: 100px;
}
.container-planos table thead th div p {
  width: 150px;
  font-size: 13px;
  font-weight: 500;
  color: #a89f9f;
}
.container-planos table tbody td {
  width: 250px;
  max-width: 1024px;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}
@media (max-width: 710px) {
  .container-planos table tbody td {
    font-size: 14px;
  }
}
.container-planos table tbody .linha-impar {
  background-color: #f6f6f6;
}
.container-planos table tbody .linha-par {
  background-color: #fff;
}

.container-rodape-logo {
  margin: 70px auto 40px;
}
.container-rodape-contatos {
  text-align: center;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 50px;
}
.container-rodape-copyright {
  text-align: center;
  background-color: #f1f3f7;
  padding: 5px 0;
}
@media (max-width: 710px) {
  .container-rodape-contatos, .container-rodape-copyright {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
