.titulo-galeria{
    height: 30vh;
}

.img-quartos{
    max-width: 1024px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.img-quartos img{
    width: 30%;
}

.quarto-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quarto-info li{
    width: 25%;
    text-align: left;
    margin-top: 10px;
}