Body{
			background-color:#000000;
			}
	h1{
	text-align:align:center;
	color:white;
	font-family:"arial black";
	font-style:italic;
	Font-size: 60px;
	font-variant:small-caps;
	}
	
	#imagem{
		align:center-left;
		
	}
{
<h3> style="text-align:center;font-family:arial;color:white;"class="blocktext">
}

