.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../../public/banner-sabores.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.banner h1 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}

.secaoSabores {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px 20px;
}

.sabores {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardSabores {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 15px 2px #d9dde1;
}
.cardSabores .imgSabor {
  width: 250px;
  height: 230px;
}

.cardSabores h3 {
  font-size: 18px;
}

.cardSabores p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .banner {
    height: 80vh;
  }

  .banner h1 {
    font-size: 65px;
  }
}

@media (max-width: 375px) {
  .banner h1 {
    font-size: 55px;
  }
}
