.limitar-secao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Topo da página */
.container-topo{
    max-width: 1024px;
    width: 100%;
    height: 130px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topo-logo{
    display: flex;
    flex-direction: row;
    
}

.topo-logo img{
    width: 80px;
}

.topo-logo p{
    color: #2f86d6;
    font-weight: 600;
}

.topo-links{
    width: 390px;
    display: flex;
    justify-content: space-between;
}

.topo-links a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #233032;
    transition-duration: 0.5s;
}

.topo-links a:hover{
    font-size: 19px;
}

/* Banner da página */
.secao-banner{
    background-color: #2f86d6;
    padding: 50px 0px;
}

.container-banner{
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-banner .info{
    max-width: 470px;
    width: 100%;
    color: #fff;
}

.container-banner .info p{
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.container-banner .info h2{
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0;
}

.container-img{
    flex: 1 1 468px;
}

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Seção Primeiro Anúncio */
.secao-primeiro-anuncio{
    background-color: #233032;
    color: #fff;
}

.container-primeiro-anuncio, .container-segundo-anuncio{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-primeiro-anuncio div{
    width: 600px;
}

.container-primeiro-anuncio div h2{
    margin-bottom: 5px;
}

.container-primeiro-anuncio a, .container-segundo-anuncio a{
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: #2f86d6;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.container-primeiro-anuncio a img, .container-segundo-anuncio a img{
    width: 20px;
}

.container-primeiro-anuncio a span, .container-segundo-anuncio a span{
    font-weight: 700;
    color: #fff;
}

/* Seção Informações */
.secao-info{
    padding: 50px 0;
    text-align: center;
}

.secao-info h2{
    width: 100%;
    font-size: 32px;
    margin: 0 auto 60px;
}

.secao-info h2 span{
    color: #2f86d6;
}

.container-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    margin: 0 auto;
}

.container-info .card{
    width: 280px; 
}

.container-info .card img{
    width: 100px;
}

.container-info .card h3{
    margin: 20px 0;
}

/* Seção Planos */
.secao-planos{
    padding: 50px 0;
    background-color: #f1f3f7;
}

.secao-planos h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 70px;
}

.secao-planos h2 span{
    color: #2f86d6;
}

table{
    border-radius: 5px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px rgba(47, 133, 214, 0.418);
}

table thead th{
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

table thead th h3{
    margin-bottom:  20px;
}

table thead th img{
    width: 100px;
    margin: auto;
}

table thead th p{
    max-width: 150px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
    padding-top: 10px;
    margin: auto;
}

table tbody td{
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 20px;
}

.linha-impar{
    background-color: #f6f6f6;
}

.linha-par{
    background-color: #fff;
}

/* Seção Segundo Anúncio */
.secao-segundo-anuncio{
    background-color: #2f86d6;
}

.container-segundo-anuncio h2{
    width: 600px;
    color: #fff;
}

.container-segundo-anuncio a{
    background-color: #233032;
    color: #fff;
}

/* Rodapé */
.rodape-logo{
    width: 320px;
    margin: 70px auto 40px;
    position: relative;
}

.rodape-logo img{
    width: 80px;
}

.rodape-logo div{
    position: absolute;
    top: 0;
    left: 95px;
}

.rodape-logo p{
    color: #2f86d6;
    font-weight: 600;
}

.container-contatos{
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.container-copyright{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    background-color: #f1f3f7;
    padding: 20px 0;
}

.container-copyright span{
    color: #2f86d6;
}