.SecaoContato{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background-color: #05031b;
    color: #fff;
    padding: 100px 20px;
}

.SecaoContato h3{
    font-size: 45px;
}

.SecaoContato p{
    text-align: center;
}

.containerInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.conteudo{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
    border: 1px solid #808080;
    border-radius: 5px;
}

.conteudo h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.conteudo div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.conteudo div .icon{
    width: 20px;
    height: 20px;
}

@media(max-width: 768px){
    .SecaoContato{
        padding: 60px 20px;
    }

    .SecaoContato h3{
        font-size: 35px;
    }

    .conteudo h4{
        text-align: center;
    }
}