.secaoSobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #F8F7FF;
    padding: 100px 20px;
}

.secaoSobre p{
    text-align: center;
}

.cards{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.cardImg, .cardTexto{
    width: 50%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #C4C4C4;
}

.cardTexto{
    padding: 20px;
}

.cardTexto h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    
}

.cardTexto p{
    color: #4a4a4a;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px){
    .secaoSobre{
        padding: 60px 20px;
    }

    .secaoSobre h3, .cardTexto h3{
        font-size: 20px;
    }
}

@media(max-width: 550px){
    .cards{
        flex-direction: column;
    }

    .cardImg, .cardTexto{
        width: 100%;
        height: 250px;
    }
}