*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #80808029;
    font-family: 'Raleway', sans-serif;
}

.limitar-secao{
    max-width: 1024px;
}

header{
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.topo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.topo img{
    width: 32px;
    height: 32px;
}

.topo p{
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

/* -------------------------- */

.orcamento-fundo{
    width: 100%;
    height: auto;
    background-image: url(../imagens/bahia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.orcamento-area{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.orcamento-cabecalho{
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-cabecalho img{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.orcamento-cabecalho h1{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.orcamento-area-formulario{
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}

.orcamento-area-formulario h2{
    font-size: 22px;
    margin-bottom: 24px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 16px;
}

form input, select{
    width: 100%;
    height: 32px;
    margin: 10px 0;
}

form input{
    padding: 0 5px;
    box-sizing: border-box;
}

form select{
    padding: 0 3px;
}

.formulario-campo-duplo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formulario-campo-duplo div {
    width: calc(50% - 10px);
}

.radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.radio div {
    display: flex;
    align-items: center;
    width: 120px;
}

.radio input {
    width: 15px;
}

.radio label {
    margin: 0 0 0 8px;
}

button{
    width: 160px;
    height: 32px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #5d15d1;
    margin-top: 12px;
}

/* -------------------------- */

.area-oferta, .area-anuncio{
    width: 100%;
    height: auto;
    margin: 32px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.area-oferta h2, .area-anuncio h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.area-oferta h3, .area-anuncio h3{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: normal;
}

.area-oferta span{
    font-weight: bold;
}

.imagens-oferta{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.oferta-destaque{
    width: calc(50% - 10px);
    height: 100%;
    position: relative;
}

.oferta-quatro{
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    height: 100%;
    margin: 0;
}

.oferta-quatro figure{
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
    position: relative;
}

.oferta-destaque img, .oferta-quatro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oferta-destaque figcaption, .oferta-quatro figcaption{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 17px;
    color: #fff;
    background-color: rgba(0, 0, 0, 50%);
    padding: 5px 10px;
    box-sizing: border-box;
}

/* -------------------------- */

.imagens-anuncio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.imagens-anuncio figure{
    width: calc(50% - 10px);
    height: 100%;
}

.imagens-anuncio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anuncio-descricao{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.anuncio-descricao h3{
    font-size: 16px;
}

.anuncio-descricao p{
    font-size: 14px;
    color: gray;
    margin-top: 15px;
}

/* -------------------------- */

.rodape{
    width: 100%;
    margin-top: 32px;
    background-color: #5d15d1;
}

.area-conteudo-rodape{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.conteudo-rodape{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.conteudo-rodape h4{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}

.icon-rodape{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon-rodape img{
    width: 18px;
}

.icon-rodape span{
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}