
@media (max-width: 768px){
    .imagens-oferta{
        height: 100%;
        display: inline;
    }

    .oferta-destaque, .oferta-quatro{
        width: 100%;
    }

    .oferta-destaque figure, .oferta-quatro figure{
        width: 100%;
        height: 225px;
        margin: 0 0 15px 0;
    }

    .imagens-anuncio{
        display: block;
    }

    .imagens-anuncio figure{
        width: 100%;
        margin-top: 20px;
    }

    .area-conteudo-rodape{
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}