*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card{
    width: 280px;
    background-color: #2f3237;
    border-radius: 5px;
}

.img{
    height: 150px;
}

.img img{
    width: 100%;
    height: 100%;
}

.info{
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info h3{
    color: #fff;
    font-size: 18px;
}

.info p{
    color: #A7A5A5;
    font-size: 15px;
}